@font-face {
  font-family: 'AB Terminal';
  src: url('../fonts/AB_Terminal-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'AB Terminal';
  src: url('../fonts/AB_Terminal-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'AB Terminal';
  src: url('../fonts/AB_Terminal-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'AB Terminal';
  src: url('../fonts/AB_Terminal-Bold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

